#sea{
	background-image: url(https://wx1.sinaimg.cn/mw2000/006VJ5Jxly1gr8p8jabmbj32qb43g7wn.jpg);
	background-repeat: repeat;
	background-attachment: scroll;
}
#six{
	font-size: 120px;
	font-family: lobster;
	text-shadow: 5px 5px 3px gray;
}
#one{
	font-size: 50px;
	font-family: georgia;
}
#two{
	font-size: 40px;
	font-family: Comic Sans MS;
	color: darkred;
}
#three{
	border: 2px solid yellow;
	background-color: lightblue;
	padding: 40px;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 20px;
	color: black;
}
#four{
	font-size: 30px;
	font-family: impact;
}
#five{
	font-size: 35px;
	font-family: sans-serif;
}
li{
	font-size: 30px
}
#seven{
	font-size: 80px;
	font-family: fantasy;
}
h1{
	font-size: 50px;
	font-family: didot;
}
#table2,th,td{
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	color: black;
	padding: 20px;
	font-size: 30px;
}
#table2{
	width: 60%;
}
th:hover{
	background-color: lightblue;
	color: blue;
}
td:hover{
	background-color: lightgoldenrodyellow;
	color: brown;
}
#picture{
	background-image: url(https://wx1.sinaimg.cn/mw2000/006VJ5Jxly1gr8p8zanyij33344mo1l6.jpg);
	background-repeat: repeat;
    background-attachment: scroll;
}
.big{
	font-size: 40px;
	font-family: unset;
}
#activity{
	font-size: 80px;
}
h4{
	border: 2px solid yellow;
	background-color: lightpink;
	padding: 100px;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 35px;
	opacity: 0;
}
a{color: black;
text-decoration: none;}
.colum{
	float: left;
	width: 32.5%;
	text-align: center;
}
h5{
	font-size: 30px;
	font-family: quicksand;
}
div{
  border: 5px solid white;
  background-color: lightgoldenrodyellow;
}
#wjk{
	background-image: url(https://wx2.sinaimg.cn/mw2000/006VJ5Jxly1g12lr3rpckj32jc3t0qv6.jpg);
	background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
}
#introduction{
	font-family: lora;
	font-size: 40px;
}
#table3{
	width: 30%;
}
.bei{
	padding: 3px;
}
.end{
	color: white;
}
